# DISTRO
# ------
DISTRO_FEATURES:append = " rauc"

# MACHINE
# -------
IMAGE_FSTYPES = "tar.bz2 wic"
WKS_FILE = "qemux86-grub-efi.wks"
EXTRA_IMAGEDEPENDS += "ovmf"
PREFERRED_RPROVIDER_virtual-grub-bootconf = "rauc-qemu-grubconf"

# IMAGE
# -----
EXTRA_IMAGE_FEATURES += "debug-tweaks"
EXTRA_IMAGE_FEATURES += "ssh-server-openssh"

# BUILD
# -----
MACHINE ?= "qemux86-64"
DISTRO ?= "poky"

CONF_VERSION = "2"
